.show{
    width: 100%;
    height: 100px;
    bottom: 0px;
    position: absolute;
    background-color: #85c18e;
    margin-bottom: 40px;
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
}


.hide{
    width: 100%;
    bottom: 0px;
    position: absolute;
    background-color: #85c18e;
    animation: fadeout 1s;
    -webkit-animation: fadeout 1s;
}

.detailButton{
    width: 100%;
    height: 40px;
    bottom: 0px;
    position: absolute;
    background-color: #85c18e;
    cursor: pointer;
}

@-webkit-keyframes fadein {
    from {
        display: none;
        visibility: hidden;
        opacity: 0;
        height: 0;
       }
        to {
            display: block;
        visibility: visible;
        opacity: 1 
        }
    }

    @-webkit-keyframes fadeout {
        from {
            display: block;
            visibility: visible;
            opacity: 1 ;
            height: 100px;
           }
            to {
                display: none;
        visibility: hidden;
        opacity: 0;
        height: 0;
            }
    }