// .container{
//   height: 33px;
// }

// .navImage{
//   // width: 100%;
//   height: 20px;
//   margin-bottom: auto;
// }

.navbar{
  // height: 33px;
  background-color: #E5EAED;
  // align-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.Toggler{
 color: black
}
// .NavbarBrand{
//   position: absolute;
//   right: 0px;
// }

// .center{
//   display:inline-block;
//   align-content: center;
// }

// .navItem{
//   margin: 0 auto;
// }